* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #{$primary-color-light-mode};
  --secondary-color: #{$secondary-color-light-mode};
  --bg-primary-color: #{$bg-primary-color-light-mode};
  --bg-secondary-color: #{$bg-secondary-light-mode};
  --border-color: #{$border-color-light-mode};
  --selection-bg: #{$selection-bg-light-mode};
}

@include darkMode {
  --primary-color: #{$primary-color-dark-mode};
  --secondary-color: #{$secondary-color-dark-mode};
  --bg-primary-color: #{$bg-primary-color-dark-mode};
  --bg-secondary-color: #{$bg-secondary-dark-mode};
  --border-color: #{$border-color-dark-mode};
  --selection-bg: #{$secondary-color-dark-mode};
}

::selection {
  background-color: var(--selection-bg);
  color: #fff;
}

body {
  background-color: var(--bg-primary-color);

  transition: background-color .2s ease-in-out;
}

h1,
h2,
h3,
h4,
.h2,
.h4 {
  font-weight: 700;
  color: var(--secondary-color);
}

h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.h4 {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--primary-color);
  line-height: 1.8;
}

input {
  font-family: inherit;
}