.list {
  &--decorated {
    list-style-type: trad-chinese-informal;
    list-style-position: inside;
  }

  &__item {
    margin-top: 0.7rem;

    color: $text-color-gray;
  }
}

.h1,
.h2 {
  font-weight: 700;
  color: black;
}

.h2 {
  font-size: 1.1rem;
}